body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(300px));
    justify-items: center;

}

.description {
    grid-column: 1;
    grid-row: 1;

    width: 74%;
    justify-self: center;
    height: 450px;
    display: grid;
    align-content: center;
}


h1 {
    color: #585858;
    font-size: 45px;
}

h2 {
    color: #585858;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_text {

    transition: color 0.4s;

}

.logo_text:hover {
    color: rgb(228, 87, 110);
    cursor: pointer;
}

.description-text {
    font-size: 1.2rem;
    color: #6e6d6d;
}

.logo_img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.boxes {
    grid-column: 1;
    grid-row: 2;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    width: 74%;
    justify-self: center;
    gap: 25px;
    margin-bottom: 75px;
}

.box {
    height: 100%;
    row-gap: 15px;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
}

.link_style {
    text-decoration: none;
    color: #585858;
    border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

.link_style:hover {
    color: rgb(228, 87, 110);
    border-bottom: none;
}

.pre-footer {
    grid-row: 3;
    width: 100%;
    height: 500px;
    display: grid;
    background-color: #f6f6f6;
}

.footer_text {
    color: #585858;
}

.pre-footer_wrapper {
    width: 74%;
    display: grid;
    justify-self: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.ls {
    grid-column: 1;
    grid-row: 1;
}

.rs {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;
    column-gap: 23px;
    row-gap: 20px;
}

.rs_icon_wrapper {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: 40px 40px 40px;
    column-gap: 23px;
    row-gap: 20px;
}

.rs_title {
    grid-column: 1;
    grid-row: 1;
}

.icon {
    outline: 1px solid #585858;
    outline-offset: 7px;
    border-radius: 0.1px;
    height: 23px;
    width: 23px;
    font-size: 30px;
    color: #585858;
    transition: color 0.4s, outline 0.4s;
}

.icon:hover {
    outline: 1px solid rgb(228, 87, 110);
    color: rgb(228, 87, 110);
}

.pre_footer_btn {
    margin-top: 50px;
    padding: 20px 40px;
    background-color: #585858;
    border: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.pre_footer_btn:hover {
    background-color: rgb(228, 87, 110);
}

input {
    width: 35%;
    padding: 20px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: transparent;
}

input:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(228, 87, 110);
}

textarea {
    margin-top: 40px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: transparent;
}

textarea:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(228, 87, 110);
}

@media screen and (max-width: 900px) {
    .description {
        width: 95%;
    }

    .boxes {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .description-text {
        margin-bottom: 40px;
    }

    .boxes {
        width: 92%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
    }

    .box {
        width: 100%;
        height: auto;
    }

    .pre-footer {
        height: auto;
    }

    .pre-footer_wrapper {
        width: 92%;
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto;
    }

    .ls {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 20px;
    }

    .rs {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px;
        column-gap: 23px;
        row-gap: 20px;
    }

    .footer_text {
        padding-top: 20px;
        font-size: 0.8rem;
    }
}


.ri-sun-line {
    color: #585858;

}

.light-mode {
    padding: 4px 20px;
    margin-left: 30px;
    border-radius: 100%;
    border: none;
    background-color: initial;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: rgb(143, 138, 138);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.cookie-wrapper {
    position: fixed;
    z-index: 2;
    top: 30%;
    display: none;
}

.cookie {
width: 500px;
height: 200px;
background-color: rgb(247, 247, 247);
border-radius: 20px;
color: rgb(24, 23, 23);
padding: 10px 20px;
border: 2px solid green;
}

#acceptCookie {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #096ddf;
    color: white;
}

/* ////////////////////////////////////////////////////////////////////// */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 550px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  